<section>
    <!-- <md-input-container flex>
        <label>Address</label>
        <input ng-model="address">
      </md-input-container> -->
    <script type="text/ng-template" id="searchbox.tpl.html">
    <input id="search-box" type="text" placeholder="Search location"></input>
    </script>
    <ui-gmap-google-map center="MapCtrl.map.center" zoom="MapCtrl.map.zoom" options="MapCtrl.map.options" events="MapCtrl.map.events" ng-cloak>
        <ui-gmap-search-box template="MapCtrl.searchbox.template" events="MapCtrl.searchbox.events" parentdiv="'search-box-placeholder'" options="MapCtrl.searchbox.options" >
        </ui-gmap-search-box>
    </ui-gmap-google-map>
    <div id="search-box-placeholder"></div>
</section>
